{% extends "base.html" %}
{% load static %}

{% block content1 %} 
<div class="container my-4">


  <!-- Python Certification Box -->    
  <div class="row justify-content-center mb-4">
    <div class="col-md-8">
      <div class="jumbotron p-4">
        <h1 class="display4 m-0">Python</h1>
        <p class="lead mt-2">Completed Python certification focusing on backend development with Django, data handling using Pandas, and REST APIs.</p>
      </div>
    </div>
  </div>
    

  <!-- Java Certification Box -->
  <div class="row justify-content-center mb-4">
    <div class="col-md-8">
      <div class="jumbotron p-4">
        <h1 class="display4 m-0">JAVA</h1>
        <p class="lead mt-2">Completed Java training with Basics in OOP concepts.</p>
      </div>
    </div>
  </div>



</div>
{% endblock content1 %}
